doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Betty Nilson
    link(rel="stylesheet", href="styles.styl")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i")

  body
    .container
      .image
      .content
        h3 Hi, I’m
        h2 Betty Nilson
        h4 Art Director
        p
          | Image by
          a Freepik
        dl
          dt Date of Birth:
          dd Aug 25, 1988
          dt Address:
          dd Rosia Road 55, Gibraltar, UK
          dt E-mail:
          dd
            a(href="mailto:your@email.com") your@email.com
          dt Phone:
          dd +13 5266 22 345

